body {
    background-color: rgba(128, 128, 128, 0.15);
}

.App {
    z-index: 1;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.titles-div {
    background-color: rgb(255, 166, 0);
    margin-bottom: 5%;
}

._title {
    width: 100%;
    text-align: center;
    padding: 1%;
    color: white;
    font-family: Century Gothic;
}

@media screen and (max-width: 1100px) {
    .titles-div {
        margin-top: 13%;
    }
}

.main {
    margin-left: 20%;
    width: 60%;
    height: 100%;
}

.right-side-top {
    width: 20%;
    position: fixed;
    right: 0;
    font-size: xx-large;
    font-family: Century Gothic;
    padding: 1%;
    padding-left: 3%;
}

@media screen and (max-width: 1100px) {
    .right-side-top {
        visibility: hidden;
    }
    .main {
        margin-left: 0;
        width: 100%;
    }
}

.left-side-bottom {
    width: 20%;
    position: fixed;
    left: 0;
    bottom: 20px;
    padding-right: 3%;
    padding-left: 3%;
}

.right-side-bottom {
    width: 10%;
    position: fixed;
    right: 2.5%;
    bottom: 40px;
}

#contuct-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 0.5px #00000083;
    background-color: rgb(255, 166, 0);
    font-size: large;
}

#contuct-button:hover {
    height: 110px;
    width: 110px;
    color: white;
    font-size: x-large;
    text-shadow: #474747 3px 5px 2px;
    -webkit-box-shadow: 0px 0px 26px 2px #00000083;
    box-shadow: 0px 0px 26px 2px #00000083;
}

.contact-form {
    position: absolute;
    right: 1%;
    bottom: 120px;
    width: 300px;
    background-color: white;
    border: solid 1px black;
    padding: 10%;
}

@media screen and (max-width: 1100px) {
    .right-side-bottom {
        width: 100%;
        position: fixed;
        left: 5%;
        bottom: 50px;
    }
    #contuct-button {
        height: 80px;
        width: 80px;
    }
    .contact-form {
        position: absolute;
        right: 5%;
        width: 80%;
        bottom: 110px;
    }
}

.nav {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -40px;
    background-color: rgba(128, 128, 128, 0);
}

.nav-item {
    margin-top: -2%;
    margin-left: 2%;
    background-color: rgba(128, 128, 128, 0);
    font-size: large;
}

.nav-links {
    text-align: right;
    font-family: Century Gothic;
}

.nav-links:hover {
    background-color: rgb(255, 166, 0);
    color: white;
}

.nav-text {
    color: black;
    padding-right: 10px;
}

.nav-text:hover {
    color: white;
    text-decoration: none;
}

.lang-button {
    font-family: Century Gothic;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.lang {
    font-size: medium;
}


/* FOOTER */

.footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 166, 0);
    width: 100%;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.logo2 {
    height: 140px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-link-div {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    color: black;
    margin-left: 5%;
}

.first {
    margin-left: 30%;
}

.footer-icon:hover {
    color: rgb(255, 255, 255);
    text-shadow: #474747 3px 5px 2px;
}

@media screen and (max-width: 1100px) {
    .footer {
        flex-direction: column;
    }
    .logo2 {
        height: 100px;
        width: 100%;
    }
    .icon-link-div {
        width: 100%;
        margin-bottom: 2%;
    }
    .first {
        margin-left: 0;
    }
    .footer-text {
        visibility: hidden;
        position: absolute;
    }
}


/* HOME */

.opening {
    height: 730px;
}

.openingVid {
    position: absolute;
    width: 60%;
    z-index: 1;
}

.yellow-box-one {
    position: absolute;
    top: 0;
    left: 60%;
    z-index: 0;
    width: 20%;
    height: 750px;
    background-color: rgb(255, 166, 0);
}

.HomeFirst {
    margin-top: 80px;
    height: 900px;
    display: flex;
    flex-direction: row;
}

.yellow-box-two {
    height: 300px;
    width: 20%;
    background-color: rgb(255, 166, 0);
    position: absolute;
    margin-top: 25%;
    left: 28%;
}

.img-one {
    width: 40%;
    height: 750px;
    background-size: 100% 100%;
    z-index: 2;
    margin-left: 10%;
}

.LYS {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    position: absolute;
    top: 1000px;
    right: 20%;
}


/* .HomeSecond {
    display: flex;
    flex-direction: column;
} */

.img-family {
    background-image: url('../pic/aboutUs.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 1000px;
}

.yellow-box-three {
    position: absolute;
    right: 20%;
    margin-top: 43%;
}

.text3 {
    width: 43%;
    margin-left: 50%;
    margin-top: 30%;
    font-size: large;
}

.img-1 {
    background-size: 100% 100%;
    position: absolute;
    width: 35%;
    height: 600px;
    right: 20%;
    transform: scaleX(-1);
    margin-top: 2%;
}

.img-2 {
    background-image: url('../pic/DSC_0764.jpg');
    background-size: 100% 100%;
    position: absolute;
    width: 45%;
    height: 500px;
    margin-top: 2%;
    left: 20%
}

.HomeFourth {
    display: flex;
    flex-direction: column;
}

.carousel-div {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    height: 200px;
    width: 52%;
    bottom: 0;
    z-index: 10;
    left: 25%;
    padding: 1%;
}