video {
    border: solid rgba(53, 52, 52, 0.233) 1px;
    border-radius: 50%;
}

.text-blok {
    width: 55%;
}

.text-blok>h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.text-blok>p {
    font-size: x-large;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}

.left {
    width: 48%;
    margin-top: 20px;
}

.right {
    width: 52%;
    margin-top: 20px;
}

.left>h5 {
    text-align: right;
}

.blok-1,
#video1 {
    height: 200px;
}

#video1 {
    float: left;
    margin-left: 200px;
}

.blok-2,
#video2 {
    height: 250px;
}

#video2 {
    float: right;
    margin-right: 150px;
}

.blok-3,
#video3 {
    height: 250px;
}

#video3 {
    float: left;
    margin-left: 130px;
}

.blok-4 {
    height: 550px;
}

#video4-1 {
    width: 250px;
    margin-left: 100px;
}

#video4-2 {
    width: 400px;
    margin-left: 200px;
    margin-top: -100px;
}

.blok-5,
#video5 {
    height: 300px;
}

#video5 {
    float: left;
    margin-left: 30px;
}

.blok-6 {
    height: 300px;
}

#video6 {
    height: 200px;
    float: right;
    margin-right: 300px;
}


/* ----------------------------------------LOZUNG----------- */

.creation-lozung {
    font-size: 210%;
    font-family: Noto;
    color: rgba(128, 128, 128, 0.3);
    width: 100%;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}


/* ----------------------------------------------------------COMPARING IMAGES---------------- */

.comparing-row-1,
.comparing-row-2 {
    width: 100%;
    margin-top: 50px;
}

.comparing-row-1 {
    height: 550px;
}

.comparing-row-2 {
    height: 700px;
}

.img-row1 {
    width: 49%;
    float: left;
}

#bench {
    width: 55%;
}

#woolf {
    width: 55.3%;
}

.img-row2 {
    width: 49%;
    float: right;
}

#chair {
    width: 43%;
}

#cupboard {
    width: 42.8%;
}