/* -------------------------------------------tablet----------- */

@media screen and (max-width: 1195px) {
    .texture-open {
        width: 100%;
        height: 100%;
        overflow-x: auto;
    }
    .texture,
    .photo {
        float: none;
        width: 90%;
        margin: auto;
        margin: 5%;
    }
}

@media screen and (max-width:990px) {
    .texture-img {
        height: 300px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


/* -------------------------------------------PHONE----------- */

@media screen and (max-width: 700px) {
    .texture-txt>h6,
    .texture-txt>li {
        font-size: 70%;
    }
    .texture-txt>p {
        font-size: 100%;
    }
}