.About {
    width: 100%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.par-img {
    height: 700px;
    background-image: url('https://i.pinimg.com/originals/a5/51/6c/a5516ca3d37d02573005231ff3864632.jpg');
    background-size: 1200px 900px;
}

.aboutTextDiv {
    width: 93%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    font-size: x-large;
    padding: 35px;
}