/* Create a sticky/fixed navbar */

#smallNavBar {
    z-index: 3;
    left: 0;
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 1350px;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}


/* Style the navbar links */

#sm-nav-left a {
    float: left;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    margin: auto;
}

#sm-nav-mid a {
    float: left;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    margin: auto;
    border-bottom: black solid 3px;
}

#sm-nav-mid #about-link {
    background-image: url('https://images.all-free-download.com/images/graphiclarge/vector_wooden_backgrounds_530760.jpg');
    margin-top: 0px;
    margin-left: 3px;
    font-size: 16px;
}

#sm-nav-mid #home-link {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTT__t5TsVVxex2ohLBm6gMv3xcRTc9IlBrjQ&usqp=CAU');
    margin-top: 10px;
    margin-left: 3px;
    font-size: 31px;
}

#sm-nav-mid #creation-link {
    background-image: url('https://torange.biz/photofxnew/208/IMAGE/very-vivid-colours-wood-texture-208285.jpg');
    margin-top: -25px;
    margin-left: 3px;
    font-size: 21px;
}

#sm-nav-mid #coating-link {
    background-image: url('https://i.pinimg.com/originals/cb/d0/4a/cbd04a83f7a2c42876474e40aecfff3a.jpg');
    margin-top: 10px;
    margin-left: 3px;
    font-size: 44px;
}

#sm-nav-mid #portfolio-link {
    background-image: url('https://image.shutterstock.com/image-photo/old-rural-wooden-wall-green-260nw-537327499.jpg');
    margin-top: 0px;
    margin-left: 3px;
    font-size: 28px;
}

#sm-nav-mid #contacts-link {
    background-image: url('https://img.freepik.com/free-photo/wooden-plank-textured-background-material_53876-33591.jpg?size=626&ext=jpg&ga=GA1.2.1435448447.1600819200');
    margin-top: 20px;
    margin-left: 3px;
    font-size: 14px;
}

#sm-nav-right {
    height: 110px;
    width: 200px;
}

.nav-link {
    font-size: 17px;
    color: rgba(128, 128, 128, 0.3);
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

@media screen and (max-width: 1400px) {
    #sm-nav-mid #about-link {
        margin-left: 3px;
        font-size: 10px;
    }
    #sm-nav-mid #home-link {
        margin-left: 3px;
        font-size: 20px;
    }
    #sm-nav-mid #creation-link {
        margin-left: 3px;
        font-size: 12px;
    }
    #sm-nav-mid #coating-link {
        margin-left: 3px;
        font-size: 25px;
    }
    #sm-nav-mid #portfolio-link {
        margin-left: 3px;
        font-size: 20px;
    }
    #sm-nav-mid #contacts-link {
        margin-left: 3px;
        font-size: 10px;
    }
}