.contact-div {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    font-size: 130%;
}

.messangers {
    padding: 5px;
    font-weight: 400;
}