.form-div {
    height: 800px;
    width: 50%;
    padding: 4%;
    float: left;
}

.contact-div {
    height: 800px;
    width: 50%;
    padding-top: 5%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    font-size: larger;
    float: right;
}

.messangers {
    padding: 5px;
}