/* -------------------------------------------tablet----------- */

@media screen and (max-width: 1195px) {
    .Contact-content {
        padding: 5%;
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .form-div {
        width: 100%;
    }
    .contact-div {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}


/* -------------------------------------------PHONE----------- */

@media screen and (max-width: 700px) {
    .contact-div {
        font-size: small;
    }
}