/* @media screen and (min-width: 1250px) {
    #tx-blok-4 {
        width: 45%;
        float: right;
        height: 1100px;
    }
    #handle-img {
        width: 55%;
        float: left;
        height: 1100px;
    }
} */

@media screen and (min-width: 950px) {
    #family-portret {
        width: 48%;
        float: left;
        height: 900px;
    }
    #fenix {
        width: 50%;
        float: right;
        height: 900px;
    }
    #tx-blok-1 {
        width: 45%;
        float: right;
        height: 550px;
    }
    #table-img {
        width: 55%;
        float: left;
        height: 550px;
    }
    #tx-blok-2 {
        width: 45%;
        float: right;
        height: 500px;
    }
    #elements-img {
        width: 55%;
        float: left;
        height: 500px;
    }
    #tx-blok-3 {
        width: 45%;
        float: left;
        height: 900px;
    }
    #snake-img {
        width: 55%;
        float: right;
        height: 900px;
    }
    #tx-blok-4 {
        width: 45%;
        float: right;
        height: 1050px;
    }
    #handle-img {
        width: 55%;
        float: left;
        height: 1050px;
    }
    #tx-blok-5 {
        width: 45%;
        float: left;
        height: 1050px;
    }
    #cabinets-img {
        width: 55%;
        float: right;
        height: 1050px;
    }
    .big-grey-font {
        padding: 3%;
    }
}


/* -------------------------------------------tablet----------- */

@media screen and (max-width: 950px) {
    #family-portret {
        width: 100%;
    }
    #fenix {
        width: 80%;
        float: none;
    }
    .img-blok,
    #fenix {
        width: 80%;
        margin: auto;
    }
    .big-grey-font {
        font-size: 40px;
    }
    .text-on-photo {
        font-size: 35px;
        margin-top: -70%;
    }
    .handwrite {
        width: 70%;
        margin: auto;
        padding: 7%;
        font-size: x-large;
    }
    .smaller {
        margin-top: 50px;
        font-size: 40px;
    }
    .text-on-background {
        padding: 7%;
        font-size: 40px;
    }
    .bg-wood3 {
        max-height: 500px;
        background-image: url('https://cdn8.dissolve.com/p/D2115_208_992/D2115_208_992_1200.jpg');
    }
    .x-smaller {
        margin-top: 50px;
        padding: 3%;
        font-size: 25px;
    }
}


/* -------------------------------------------PHONE----------- */

@media screen and (max-width: 700px) {
    .big-grey-font {
        font-size: 30px;
        padding: 3%;
    }
    .text-on-photo {
        font-size: 25px;
        margin-top: -70%;
    }
    .handwrite {
        width: 80%;
        margin: auto;
        padding: 5%;
        font-size: large;
    }
    .smaller {
        margin-top: 50px;
        font-size: 30px;
    }
    .text-on-background {
        padding: 7%;
        font-size: 25px;
    }
    .x-smaller {
        margin-top: 50px;
        padding: 3%;
        font-size: 20px;
    }
    .img-blok {
        width: 90%;
    }
    .slider-img>div {
        color: white;
        width: 80%;
        text-align: center;
        padding: 5px;
        font-size: 10px;
        text-align: center;
    }
    .slider-img>div>h6 {
        font-size: 10px;
    }
}