        /* VIDIO */
        
        .openingVid {
            width: 100%;
            border: black solid 1px;
        }
        
        .video-text {
            color: white;
            position: absolute;
            left: 50px;
            display: flex;
            flex-direction: row;
            font-size: 200%;
            width: 50%;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-weight: 700;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: uppercase;
        }
        
        .vl {
            border-left: 15px solid white;
            height: 200px;
        }
        
        .vid-t {
            height: 200px;
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.5);
        }
        
        .LYS {
            font-size: 180px;
            color: rgba(128, 128, 128, 0.3);
            width: 100%;
            text-align: center;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-weight: 700;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: uppercase;
        }
        
        .paragraf {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            letter-spacing: 2px;
            word-spacing: 2px;
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: uppercase;
        }
        
        @media screen and (max-width: 800px) {
            .video-text {
                font-size: 100%;
                width: 30%;
                left: 40px;
            }
            .vl {
                border-left: 10px solid white;
                height: 130px;
            }
            .vid-t {
                padding: 20px;
                height: 130px;
            }
            .LYS {
                font-size: 130px;
            }
        }
        
        @media screen and (max-width: 500px) {
            .video-text {
                font-size: 70%;
                width: 45%;
                left: 20px;
            }
            .vl {
                border-left: 5px solid white;
                height: 100px;
            }
            .vid-t {
                padding: 10px;
                height: 100px;
            }
            .LYS {
                font-size: 100px;
            }
        }
        /* 1 */
        
        .HomeFirst {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        
        .text-1 {
            font-size: 140%;
            width: 45%;
            margin-left: 5%;
        }
        
        .fenix {
            width: 45%;
        }
        
        .wood-1 {
            width: 100%;
        }
        
        @media screen and (max-width: 800px) {
            .text-1 {
                font-size: 100%;
                width: 50%;
                margin-left: 0%;
            }
            .fenix {
                width: 50%;
            }
        }
        
        @media screen and (max-width: 500px) {
            .text-1 {
                font-size: 60%;
                width: 40%;
            }
            .fenix {
                width: 60%;
            }
        }
        /* 2 */
        
        .HomeSecond {
            width: 100%;
            padding: 5%;
        }
        
        .img-family {
            width: 100%;
            margin-top: -10px;
        }
        
        .wood-2 {
            width: 100%;
            font-size: 140%;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        
        .handmaid {
            font-size: 110px;
            color: rgba(128, 128, 128, 0.3);
            width: 100%;
            text-align: center;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-weight: 700;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: uppercase;
        }
        
        @media screen and (max-width: 800px) {
            .HomeSecond {
                padding: 0;
            }
            .img-family {
                width: 100%;
                margin-top: -10px;
            }
            .wood-2 {
                font-size: 90%;
            }
            .handmaid {
                font-size: 90px;
            }
        }
        
        @media screen and (max-width: 500px) {
            .wood-2 {
                font-size: 60%;
            }
            .handmaid {
                font-size: 50px;
            }
        }
        /* 3 */
        
        .HomeTherd {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 5%;
        }
        
        .row-3 {
            display: flex;
            flex-direction: row;
        }
        
        .img-1-1 {
            width: 50%;
        }
        
        .img-2-2 {
            width: 20%;
            background-image: url('https://thepaintpeople.com/wp-content/uploads/2015/09/prepare-bare-wood-staining.jpg');
        }
        
        .img-3-3 {
            width: 20%;
            background-image: url('https://storage.needpix.com/rsynced_images/wood-328244_1280.jpg');
        }
        
        .txt {
            width: 30%;
            text-align: center;
            font-size: 140%;
            padding: 5%;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 2px;
            word-spacing: 2px;
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: uppercase;
        }
        
        @media screen and (max-width: 800px) {
            .HomeTherd {
                padding: 0;
            }
            .txt {
                width: 40%;
                padding: 2%;
                font-size: 10px;
            }
        }
        
        @media screen and (max-width: 500px) {
            .txt {
                padding: 1%;
                font-size: 7px;
            }
        }
        /* 4 */
        
        .HomeFourth {
            display: flex;
            flex-direction: column;
        }
        
        .delivery-txt {
            font-size: 300%;
            color: rgba(128, 128, 128, 0.3);
            width: 100%;
            text-align: center;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-weight: 700;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: uppercase;
        }
        
        .im {
            height: 100%;
            width: 100%;
        }
        
        .carousel-text {
            text-align: center;
            font-size: 10px;
            position: absolute;
            bottom: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            width: 50%;
            margin-left: 25%;
            color: white;
            padding: 3%;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-weight: 400;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: uppercase;
        }
        
        #myCarousel {
            height: 100%;
        }
        
        @media screen and (max-width: 1200px) {
            .carousel-text {
                visibility: hidden;
            }
        }
        
        @media screen and (max-width: 750px) {
            .carousel-text {
                font-size: 7px;
            }
            .delivery-txt {
                font-size: 120%;
            }
        }